<div class="contact">
    <div class="contact-block row  m-auto">
        <div class="row">
            <div class="col-6 position-relative">
                <p class="contact-note position-absolute">{{'contact.note' | translate}}</p><h2 class="contact-title py-3">{{'contact.title'| translate}}</h2>
                <p class="contact-desc">{{'contact.desc'| translate}} <a href="mailto:safa1chaabane@gmail.com">{{'contact.link'| translate}} <span  class="contact-desc-icon"><fa-icon [icon]="link"></fa-icon> </span> </a> </p>
              </div>
              <div class="col-6"></div>
        </div>
        </div>
        </div>
        