@import "../../../styles.scss";
.aboutme{

    background:$yellow;
    background-position: top;
    background-repeat: no-repeat;
    min-height: 95vh;
    padding-top: 3%;
    padding-bottom: 3%;
    &-block{
        max-width:1500px;
        width: 90%;
        &-col{
            max-width: 1300px;
        }
        &-note{
            top:-20px;
            left:-20px;
            transform: rotate(-30deg);
            color: $purple;

        }
        &-title{
            font-size: 5rem;
            font-weight: 700;
            
            @media screen and (max-width: 992px) {
                font-size: 2rem;

            }
           
        } 
        &-desc{
                line-height: 35px;
                padding-left: 70px;
                position: relative;
                @media screen and (max-width: 992px) {
                    padding-left: 00px;
                }
                &:after{
                    content: "";
                    position: absolute;
                    width: 50px;
                    left: 10px;
                    top: 35px;
                    height: 1px;
                    background-color: $black;
                    @media screen and (max-width: 992px) {
                        display: none;
                    }
                }
        }
     
      
    }
}