@import "../../../styles.scss";
.blogs{
    padding-top: 50px;
    padding-bottom: 3%;
    max-width:1500px;
    width: 90%;

        &-note{
            top:-20px;
            left:-20px;
            transform: rotate(-30deg);
            color: $purple;

        }
        &-title{
            font-size: 5rem;
            font-weight: 700;
            
            @media screen and (max-width: 992px) {
                font-size: 2rem;
            
            }
           
        } 
        &-item{
            background-color: $l-yellow;
            height: 100%;
            cursor: pointer;
            &:hover{
                background-color: $yellow;
            }
            h3{
                font-size: 1.3rem;
            }
        }
        a{
            text-decoration: none;
            color: $black;
        }
        img{
            max-height: 180px;
        }
    }