<div class="footer">
    <div class="footer-block m-auto row py-2"><div class="col-lg-4 text-center text-lg-start"> <fa-icon [icon]="faCopyright"></fa-icon> {{currentYear}} {{'footer.copyright' | translate}}</div>
    <div class="col-lg-4  text-center">{{'footer.makewith' | translate}} <fa-icon [icon]="faHeart" style="color:red"></fa-icon> {{ 'footer.makeby' | translate}} </div>
    <div class="col-lg-4 text-center text-lg-end"><a href="mailto:safa1chaabane@gmail.com">{{'footer.mail' | translate}}</a></div></div>
</div>
