@import "../../../styles.scss";
@import url('https://fonts.cdnfonts.com/css/happy-halloween');
.slider{
    height:95vh;
    padding-top: 4%;
    padding-bottom: 4%;
    &-salutation{
        font-size: 2rem;
        font-weight: 700;
    }

    &-description{
    
        padding-left: 15%;
        position: relative;
        &:after{
            content:"";
            display: block;
            position: absolute;
            width: 12%;
            height: 2px;
            background-color: $yellow;
            left: 0;
            top:13px
        }
    }
    &-name2,&-work{
        font-size: 2.6rem;
        font-weight: 700;
        text-transform: uppercase;
    }
    &-contact{
        max-width: 400px;
        margin: auto;
    }
    &-link{
        a{
            display:block;

            color:$white;
            background-color: $purple;
            padding:10px 15px;
            border-radius:15px ;
            text-decoration: none;
            border: 2px solid $purple;
            &:hover{
                background-color:$white;
                color: $purple;    
            }
        }}
        &-cv{
            a{
                display:block;
                font-weight: 600;
                color:$black;
                background-color: $l-gray;
                padding:10px 15px;
                border-radius:15px ;
                text-decoration: none;
                border: 2px solid $l-gray;
                &:hover{
                    background-color:$white;
                    color: $purple;    
                }
            }
    }
    &-img{
        max-height: 600px;
        img{
        
            height: 100%;
            width: 100%;
            max-width: 500px;
            margin: auto;
            display: block;
        }
    }
    &-slogan{
        font-family: 'Happy Halloween', sans-serif;
        max-width: 320px;
        float: right;
        font-size: 22px;
        margin-bottom: -40px;
        z-index: 2;
        position: inherit;
                                                
    }
    &-scroll{
        writing-mode: vertical-lr;
        height: 20%;
        right:-25px;
        cursor: pointer;
        &-after{
            height: 70%;
            width: 2px;
            background-color: $gray;
            right:0px;
        }
    }
    &-socialNetwork,&-socialNetwork a {
        color: $gray;
        font-weight: 600;
       
    }
    &-socialNetwork a {
        background-color: $l-gray;
        padding: 19px;
        display: block;
        border-radius: 50%;
        width: 60px;
        height: 60px;
        &:hover{
            color:$purple
        }
    }
}
.wave {
    display: inline-block;
    animation: wave 0.5s infinite linear;
    transform: rotate(50deg);
    transform-origin: right bottom; 
   
}

@keyframes wave {
    0% {
        transform: rotate(20deg);
    }

    50% {
        transform: rotate(50deg);
    }

    100% {
        transform: rotate(20deg);
    }
}
@media screen and (max-width : 1200px) {
    .slider{
        height: auto;
        &-img{
            max-height: none;
            img{
                height:auto;
            }
        }
     
}
}
@media screen and (max-width : 900px) {
    .slider{
      
        &-salutation,&-name2,&-work{
            font-size: 1rem;
        }
        &-socialNetwork a {
            
            padding: 10px;
            width: 42px;
            height: 42px;;
        }
        &-slogan{
            float: none;
            font-size: 19px;
            margin-bottom: 0px;
            display:block;
            margin-left: auto;
            margin-right:auto;
            z-index: 2;
            position: inherit;
                                                    
        }
}
}