<div class="row slider m-0 align-items-center position-relative">
    <div class="col-lg-5"><p class="slider-salutation">{{ 'slider.salutation' | translate }} <span class="wave" role="img" aria-labelledby="wave">👋</span></p>
        <p  class="slider-name2">{{ 'slider.name1' | translate }} {{ 'slider.name2' | translate }},</p>
        <p  class="slider-work">{{ 'slider.work' | translate }}</p>
        <p class="slider-description">{{ 'slider.description' | translate }}</p>
        <div class="row py-3 slider-contact">
            <div class="col-sm-6 slider-link"><a href="">{{ 'slider.contact' | translate }}      <fa-icon [icon]="faPaperPlane"></fa-icon></a>
          
            </div>
            <div  class="col-sm-6 slider-cv"><a href="">{{ 'slider.cv' | translate }}    <fa-icon [icon]="faArrowDown"></fa-icon></a></div>
        </div>
        <div class="row slider-socialNetwork  align-items-center py-5"><div class="col-lg-6">{{ 'slider.socialNetwork' | translate }}</div>
        <div class="col-sm-2"><a href="https://linkedin.com/in/safa-chaabane">  <fa-icon size="xl" [icon]="faLinkedinIn"></fa-icon></a></div>
        <div class="col-sm-2"><a href="https://github.com/safachaabane">  <fa-icon size="xl" [icon]="faGithub"></fa-icon></a></div>
        <div class="col-sm-2"><a href="mailto:safa1chaabane@gmail.com">  <fa-icon size="xl" [icon]="faMailchimp"></fa-icon></a></div></div>
    </div>
    <div class="col-lg-6 slider-img position-relative"><p class="slider-slogan text-center">{{ 'slider.slogan' | translate | wrapWithQuotes}} </p><img src="../../../assets/photo-safa.jpg" alt="photo safa chaabane" alt=""></div>
<div class="col-1 d-flex"> <p class="slider-scroll-after position-absolute top-0"></p><p routerLink = "/"  fragment="aboutme" class="slider-scroll position-absolute bottom-0">{{ 'slider.scroll' | translate }}</p></div>
</div>
