<div class="lastProjects">
    <div class="lastProjects-block row  m-auto">
        <div class="row">
            <div class="col position-relative">
                <p class="lastProjects-note position-absolute">{{'projets.note' | translate}}</p><h2 class="lastProjects-title py-3">{{'projets.title'| translate}}</h2>
              </div>
        </div>
        <div class="row"> 
            @for (item of "projets.listProjects" | translate | slice:0:3; track $index) { 
                <div class="col-lg-4 lastProjects-item">
                  <div class=" lastProjectsitem  py-4 p-lg-0 d-flex justify-content-center  flex-column">
                     <app-card-project [cardProject]='item'></app-card-project>
                  
                </div></div>
                  } @empty {
                    <span>Please wait</span>
                  }
        </div>
        <a class="lastProjects-link" [routerLink]="['projects']">{{'projets.btn' | translate}}</a>
        </div>
        </div>