.nav-bar{
    background-color: white;
    overflow: hidden;
    &-logo{
        height: 60px;
        cursor: pointer;
    }
    &-menu{
        li{
            padding: auto 3%;
            a{
                color: black;
                text-decoration: none;
                font-size: 13px;
                font-weight: 500;
            }
        }
    }
    &-lang{
        max-width: 100px;
        li{
            list-style: none;
            cursor: pointer;
        }
        img{
            width:20px;
            height: 20px;
            border-radius: 50%;
            margin: 7px;
        }
    }
}