<div class="sticky-top nav-bar d-flex justify-content-around align-items-center p-2">
<div class="nav-bar-logo" routerLink="/"><img class="h-100 w-100" src="../../../assets/log-safa-chaabane.png" alt="logo safa chaabane"></div>

<ul class="d-lg-flex m-0 d-none justify-content-around list-unstyled nav-bar-menu align-items-center">
  @for (item of "menu"|translate; track item.id) { 
    <li class="px-3" >  <a [routerLink]='"."' [fragment]="item.link">{{item.link}}</a></li>
    } @empty {
      <span> </span>
    }
  </ul>

<ul class="m-0 d-flex justify-content-around nav-bar-lang align-items-center">
    <li (click)="onChange('en')"><img src="../../../assets/en.jpg" alt="EN"/></li>
    <li (click)="onChange('fr')"><img src="../../../assets/fr.jpg" alt="FR"/></li>
    <li (click)="onChange('de')"><img src="../../../assets/de.jpg" alt="DE"/></li>
  </ul>
   
</div>
