@import "../../../styles.scss";
.nav-bar{
    background-color: white;
    &-logo{
        height: 60px;
        cursor: pointer;
        @media screen and (max-width : 992px) {
            height: 40px;
        }
    }
    &-menu{
        border: 1px solid $l-yellow;
        box-shadow: 2px 2px 5px 1px $l-yellow;
        border-radius: 40px; 
        
        li{
            padding: auto 3%;
            a{
                color: black;
                text-decoration: none;
                font-size: 13px;
                font-weight: 500;
            }
        }
    }
    &-lang{
        max-width: 100px;
        li{
            list-style: none;
            cursor: pointer;
        }
        img{
            width:20px;
            height: 20px;
            border-radius: 50%;
            margin: 7px;
        }
    }
}