<div class="qualifications m-0">
  <div class="other-style">
    <div class="qualifications-experience qualifications-block m-auto">
       <div class=" qualifications-experience-block  qualifications-experience-block-2 pb-5">
        <div class=" position-relative">
            <p class="qualifications-note position-absolute">{{'qualifications.note' | translate}}</p><h2 class="qualifications-title py-3">{{'qualifications.titleExep'| translate}}</h2>
        </div>
        @for (itemEduc of 'qualifications.experience' | translate ;  track itemEduc.id) {
            <div [class]="['qualifications-experience-block-item position-relative qualifications-experience-block-item-margin', (itemEduc.id % 2 === 0 ? 'odd' : 'even')].join(' ')"> 
                <div class="row"><div class="col-9"><h3 class="position-relative qualifications-experience-block-item-title"> {{itemEduc?.workName}}</h3></div>
                <div class="col-3"><p class="qualifications-experience-block-item-date">{{itemEduc?.date}}</p></div></div>
                <p class="qualifications-experience-block-item-company"><img class="qualifications-experience-block-item-company-logo me-2" [src]="'/assets/icons/logo/' + (itemEduc?.logo || '') + '.jpg'" />{{itemEduc?.companyName}}</p>
                <!-- <button class="qualifications-experience-block-item-btn" type="button" (click)="show = !show">{{'qualifications.btn' | translate}}  <span> <fa-icon size="xl" [icon]="faArrowDown"></fa-icon> </span></button> -->
               <ul class="qualifications-experience-block-item-tasks">
                @for (item of itemEduc?.tasks; track $index) {
                    <li key={$index}>{{item}}</li>
                   }
                </ul>
                <p class="qualifications-experience-block-item-tools">{{itemEduc.tools}}</p>
            </div>
        }@empty {
            <span>Please wait</span>
          }
       </div>
    </div>
  
</div>
  
</div>