@import "../../../styles.scss";
.blog{
    width: 90%;
    margin: auto;
    font-size: 1.1rem;
    &-title{
        max-width: 1400px;
        &-icon{
            max-width: fit-content;
            width:43px;
            height: 43px;  
            background-color: $purple;
            padding: 7px;
            border-radius: 50%;
            color: $white;
            @media screen and (max-width : 992px) {
                margin-top: -20px;
            }

        }
        h1{

            z-index: -1 !important;
            position: relative;
            font-size: 3rem;
            font-weight: 700;
            @media screen and (max-width: 700px) {
            font-size: 2rem;
           
            }
            @media screen and (max-width: 500px) {
                font-size: 1.5rem;
                margin-left: 0px;
                }

        }
    }
    &-img{
       
        max-width: 1200px;
        margin: auto;
        img{
            width: auto;
            max-width: 100%;
        }
    }
    &-desc{
        max-width: 1200px;
        &-subtitle{
            color: $purple;
            font-weight: bold !important;
        }
    }
}