<div class="services">
 <div class="services-block m-auto d-block">
    <div class="row m-auto py-5 justify-contentrdf-between align-items-center">
        <div class="col-xl-6 pe-xl-5 position-relative services-block-col mx-xl-0 m-auto"><p class="services-block-note position-absolute">{{'services.note' | translate}}</p><h2 class="services-block-title py-3">{{'services.title'| translate}}</h2>
        <p class="pt-3  services-block-desc">{{'services.desc1'| translate}}</p> <p class="py-3 services-block-desc">{{'services.desc2'| translate}}</p></div>
        <div class="col-xl-6 services-block-col  me-xl-0 m-auto"> 
            @for (item of "services.list" | translate; track item.id) { 
                <div class="row services-block-list">
                    <div class="col-2"><p class=" services-block-list-number"> {{'0'+item?.id+'/'}}</p></div>
                    <div class="col-10"> <fa-icon *ngIf="item.icon === 'faCode'" size="xl" [icon]="faCode"></fa-icon><h2> {{item?.title}}</h2><p> {{item?.description}}</p></div>
                </div>
                  } @empty {
                    <span>Please wait</span>
                  }
        </div>
    </div>
 </div>
</div>
